.profile {
  box-sizing: border-box;
  width: 50vw;
  margin: 0 auto;
  min-height: 100vh;
}
@media screen and (max-width: 700px) {
  .profile {
    width: 80vw;
  }
}

.profile__input_active {
  background: #f9f9f9;
}

.profile__input_active:focus {
  outline: 1px solid #3456f3;
}

.profile__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-bottom: 123px;
}

.profile__input {
  border: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding: 0;
  text-align: right;
  color: #000000;
  background: transparent;
}

.profile__info-container label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.profile__info-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__info-container:first-child {
  margin-bottom: 17px;
}

.profile__info {
  margin-bottom: 220px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 80px;
}

.profile__button {
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__button:first-child {
  margin-bottom: 16px;
}

.profile__button:last-child {
  margin-bottom: 16px;
  color: #ee3465;
}

.profile__error {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  margin-bottom: 10px;
}

.profile__container {
  text-align: center;
}
