.form-auth {
  box-sizing: border-box;
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0 0;
  min-height: 1300;
}

@media screen and (max-width: 1279px) {
  .form-auth {
    padding: 56px 0 0;
  }
}

@media screen and (max-width: 650px) {
  .form-auth {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .form-auth {
    width: 260px;
  }
}

@media screen and (max-width: 400px) {
  .header-logo-auth {
    margin-left: 40%;
  }
}

.form {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media screen and (max-width: 1279px) {
  .form {
    margin-top: 50px;
  }
}

.form__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 400px) {
  .form__title {
    text-align: center;
    white-space: nowrap;
  }
}

.form__input-container {
  margin-top: 40px;
}

@media screen and (max-width: 1279px) {
  .form__input-container {
    margin-top: 80px;
  }
}

.form__button {
  background: #3456f3;
  border-radius: 3px;
  border: none;
  height: 45px;
  width: 100%;
  margin-top: 69px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .form__button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 157px;
  }
}

.form__button_disabled {
  background: #f4f4f4;
  border-radius: 6px;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.form__button_disabled:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form-auth__span {
  margin: 0;
  padding: 0;
}

.form__sign {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  padding-bottom: 70px;
}

.form__sign a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 6px;
  text-align: center;
  color: #3456f3;
}

.form__sign a:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .form__sign,
  .form__sign a {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .form__sign {
    padding-bottom: 30px;
  }
}

.form__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.form__input {
  width: 100%;
  height: 46px;
  margin-bottom: 10px;
  background: #f4f4f4;
  text-align: 10px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 15px;
}

.form__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}
