.about-project__container {
  width: 80vw;
  margin: auto;
  padding: 110px 0 230px;
}

.about-project__info {
  display: grid;
  width: calc(100% -2 * 70px);
  margin: 70px auto 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

@media screen and (max-width: 400px) {
  .about-project__info {
    display: flex;
    flex-direction: column;
  }
}

.about-project__heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0;
}

.about-project__content {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 400px) {
  .about-project__content {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__stage p,
.about-project__info-block p {
  max-width: 550px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

@media screen and (max-width: 400px) {
  .about-project__stage p,
  .about-project__info-block p {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 400px) {
  .about-project__stage p {
    margin-bottom: 57px;
  }
}

.about-project__week-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, minmax(36px, 1fr));
  row-gap: 14px;
  margin: 110px auto 0;
}
@media screen and (max-width: 400px) {
  .about-project__week-container {
    row-gap: 10px;
  }
}

.about-project__backend-week {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3456f3;
  color: #fff;
}

.about-project__frontend-week {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  color: #000;
}

.about-project__backend-week span,
.about-project__frontend-week span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .about-project__backend-week span,
  .about-project__frontend-week span {
    font-size: 11px;
    line-height: 13px;
  }
}

.about-project__backend,
.about-project__frontend {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media screen and (max-width: 400px) {
  .about-project__backend,
  .about-project__frontend {
    font-size: 11px;
    line-height: 13px;
  }
}
